/* Start ProductDetails.css */

.product-details {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	align-items: start;
	flex-direction: column;
}

.product-details h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.price del {
	color: #999;
	margin-right: 10px;
}

.price span {
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.options {
	margin: 20px 0;
	width: 100%;
}

.options label {
	display: block;
	align-items: start;
	margin-bottom: 5px;
	font-weight: bold;
}

.options select {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--theme-yellow);
	display: flex;
	align-items: center;
	min-height: 45px;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
}

.add-to-cart {
	cursor: pointer;
	width: 100%;
	max-width: 180px;
	text-align: center;
	padding: 17px 20px;
	border-radius: 0px;
	line-height: 1;
	border: 0px;
	transition: 0.4s;
	font-size: 16px;
	font-family: Raleway;
	font-weight: 600;
	background-color: rgb(255, 112, 4);
	color: rgb(255, 255, 255);
}

.add-to-cart:hover {
	background-color: var(--theme-black);
}

/* End ProductDetails.css */

/* ======================================================================================= */

/* Start ProductSlider.css */

.product-slider {
	max-width: 450px;
	margin: 0 auto;
}

.main-slider .swiper-slide img {
	width: 100%;
	height: auto;
	border-radius: 0px;
}

.thumbnail-slider {
	margin-top: 10px;
}

.thumbnail-slider .swiper-slide {
	opacity: 0.5;
	cursor: pointer;
}

.thumbnail-slider .swiper-slide-thumb-active {
	opacity: 1;
	border: 1px solid var(--theme-yellow);
}

.thumbnail-slider .swiper-slide img {
	width: 100%;
	height: auto;
	border-radius: 0px;
}

/* End ProductList.css */

/* ======================================================================================= */

/* Start QuantitySelector.css */

.quantity-selector {
	display: flex;
	align-items: center;
	margin: 20px 0;
	border: 1px solid var(--theme-yellow);
}

.quantity-selector button {
	padding: 10px;
	cursor: pointer;
}

.quantity-selector input {
	width: 50px;
	text-align: center;
	border-left: 1px solid var(--theme-yellow);
	border-right: 1px solid var(--theme-yellow);
	border-top: none;
	border-bottom: none;
	padding: 10px;
	margin: 0 5px;
}

/* End QuantitySelector.css */

/* ======================================================================================= */

/* Start SocialShare.css */

.social-share {
	margin-top: 20px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.social-icons {
	display: flex;
	gap: 10px;
}

.social-icons a {
	text-decoration: none;
	color: var(--theme-black);
	font-size: 22px;
}

.social-icons a:hover {
	text-decoration: underline;
}

/* End SocialShare.css */
