.product-slider {
	max-width: 450px;
	margin: 0 auto;
}

.main-slider .swiper-slide img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.thumbnail-slider {
	margin-top: 10px;
}

.thumbnail-slider .swiper-slide {
	opacity: 0.5;
	cursor: pointer;
}

.thumbnail-slider .swiper-slide-thumb-active {
	opacity: 1;
}

.thumbnail-slider .swiper-slide img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}
