.quantity-selector {
	display: flex;
	align-items: center;
	margin: 20px 0;
	border: 1px solid var(--theme-yellow);
}

.quantity-selector button {
	padding: 10px;
	cursor: pointer;
}

.quantity-selector input {
	width: 50px;
	text-align: center;
	border-left: 1px solid var(--theme-yellow);
	border-right: 1px solid var(--theme-yellow);
	border-top: none;
	border-bottom: none;
	padding: 10px;
	margin: 0 5px;
}
